@import url("https://fonts.googleapis.com/css?family=Space+Mono");
#introSection * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-weight: 400;
  list-style-type: none;
  font-style: normal;
}

#introSection {
  padding-left: 7rem;
  background: #1d1f20;
  color: #cfd8dc;
  line-height: 1.4;
  font-family: "Space Mono", monospace;
}

#introSection ::-webkit-scrollbar {
  display: none;
}

#introSection h1 {
  color: #efc371;
  margin: 0 0 10px;
  font-size: 35px;
}

#introSection strong {
  color: #b5bc67;
}

#introSection em {
  color: #dd925f;
}

#introSection h2 {
  color: #ae94c0;
  margin: 10px 0;
  text-transform: uppercase;
}

#introSection blockquote, ul, ol {
  border-left: 1px solid #4d4d4c;
  margin: 10px 0 10px 20px;
  padding: 0 0 0 20px;
  color: #efc371;
}

#introSection blockquote {
  margin: 10px 0 10px 40px;
  font-style: italic;
}

#introSection h3 {
  color: #ae94c0;
  margin: 10px 0;
}

#introSection img {
  display: none;
}

#introSection .comment {
  color: #4d4d4c;
}

#introSection p:nth-of-type(8) {
  color: #b5bc67;
}
