body {
  background: #17202A;
  color: #4e4e4e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1e1e1e;
}

a {
  color: #1e1e1e;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
a:hover {
  color: #0078ff;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.p-r {
  position: relative;
}

.color-a {
  text-decoration: none;
  color: #0078ff;
}

.color-d {
  color: #f5f5f5;
}

.color-text-a {
  text-decoration: none;
  color: #4e4e4e;
}

.box-shadow, .card-recentprojects, .work-box, .service-box, .paralax-mf {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.box-shadow-a, .button:hover {
  text-decoration: none;
  box-shadow: 0 0 0 4px #cde1f8;
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.1;
}

.display-6 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
}

.avatar {
  width: 32px;
  height: 32px;
  margin-right: 4px;
  overflow: hidden;
}

.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 1024px) {
  .bg-image {
    background-attachment: scroll;
  }
}

.overlay-mf {
  background-color: #0078ff;
}

.overlay-mf {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}

.paralax-mf {
  position: relative;
  padding: 8rem 0;
}

.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

/*--/ Sections /--*/
.sect-4 {
  padding: 4rem 0;
}

.sect-pt4 {
  padding-top: 4rem;
}

.sect-mt4 {
  margin-top: 4rem;
}

/*--/ Title s /--*/
.title-s {
  font-weight: 600;
  color: #1e1e1e;
  font-size: 1.1rem;
}

/*--/ Title A /--*/
.title-box {
  margin-bottom: 4rem;
  float: left;
}

.title-a {
  color: #B95;
  font-family: Courier, monospace;
  text-decoration: none;
  font-size: 3rem;
}

.subtitle-a {
  text-decoration: none;
  float: left;
  color: #B95;
}

.line-mf {
  display: none;
}

@media (min-width: 768px) {
  .line-mf {
    display: inline;
    width: 20rem;
    height: 1.5px;
    float: right;
    background-color: #4f4228;
    margin-top: 1.8rem;
    margin-left: 1rem;
  }
}

/*------/ Box /------*/
.box-pl2 {
  padding-left: 2rem;
}

.box-shadow-full {
  padding: 3rem 1.25rem;
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .box-shadow-full {
    padding: 3rem;
  }
}

/*------/ Ul resect /------*/
.ul-resect, .widget-tags ul, .widget-sidebar .list-sidebar, .box-comments .list-comments, .recentprojects-wrapper .post-meta ul, .list-ico, .socials ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.list-ico {
  line-height: 2;
}
.list-ico span {
  color: #0078ff;
  margin-right: 10px;
}

/*--/ Scrolltop s /--*/
.scrolltop-mf {
  position: relative;
  display: none;
}
.scrolltop-mf span {
  z-index: 999;
  position: fixed;
  width: 42px;
  height: 42px;
  background-color: #0078ff;
  opacity: 0.7;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  top: auto;
  left: auto;
  right: 30px;
  bottom: 50px;
  cursor: pointer;
  border-radius: 50%;
}



/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #0078ff;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #298eff;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*------/ Prelaoder /------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: -webkit-radial-gradient(50% 50%, ellipse, #20202D 0%, #101018 75%, #060612 100%);
  background: -moz-radial-gradient(50% 50%, ellipse, #20202D 0%, #101018 75%, #060612 100%);
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #0078ff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*--------------------------------------------------------------
# intro message
--------------------------------------------------------------*/

.intro {
  overflow: hidden;
  padding: 0;
  margin: 0;
}


.intro p, a {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
  font-family: Courier, monospace;
  font-smoothing: antialiased;
  margin: 0.8em 0;
  font-size: 1.2em;
  color: #B95;
}

.intro .ghost,
.glitch {
  opacity: 0.25;
}

.intro #message {
  margin-left: -300px;
  margin-top: -130px;
  position: absolute;
  height: 260px;
  width: 600px;
  left: 50%;
  top: 30%;
}

.intro #animate {
  text-shadow: 0 0 8px rgba(209, 194, 165, 0.1);
  position: absolute;
  color: #4f4228;
  margin-top: 2px;
  bottom: 0;
}

.intro #container {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  height: 100vh;
}

.intro #container:before {
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  left: 0;
  top: 0;
}



/*--------------------------------------------------------------
# recentprojects
--------------------------------------------------------------*/

.card-recentprojects{
  background: #212F3D;
  color: #D5D8DC;
  border-radius: 20px;
}

p, a, {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
  font-family: Courier, monospace;
  font-smoothing: antialiased;
  margin: 0.8em 0;
  font-size: 1.2em;
  color: #B95;
}


.card-title{
  color: #ECF0F1;
}

@media (min-width: 767px) {
  .card-recentprojects {
    margin-bottom: 3rem;
    background: #212F3D;
    color: #D5D8DC;
  }
}
.card-recentprojects .card-body {
  position: relative;
}
.card-recentprojects .card-category-box {
  position: absolute;
  text-align: center;
  top: -16px;
  left: 15px;
  right: 15px;
  line-height: 25px;
  overflow: hidden;
}

.card-title{
  color: #D5D8DC;
  padding-bottom: 0.8rem;
}

}
.card-recentprojects .card-title {
  font-size: 1.3rem;
  margin-top: 0.6rem;
  color: #D5D8DC;
}
.card-recentprojects .card-description {
  color: #ABB2B9;
}
.card-recentprojects .post-author {
  display: inline-block;
  color: #ABB2B9;
}
.card-recentprojects .post-date {
  color: #B95;
  display: inline-block;
  float: right;
}

/*--------------------------------------------------------------
# recentprojects Single
--------------------------------------------------------------*/
.post-box,
.form-comments,
.box-comments,

@media (min-width: 768px) {
  .post-box,
.form-comments,
.box-comments,
.widget-sidebar {
    padding: 3rem;
  }
}

.recentprojects-wrapper .article-title {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .recentprojects-wrapper .article-title {
    font-size: 1.9rem;
  }
}
.recentprojects-wrapper .post-meta {
  margin: 1rem 0;
}
.recentprojects-wrapper .post-meta ul {
  border-left: 4px solid #0078ff;
  margin-top: 1rem;
}
.recentprojects-wrapper .post-meta ul li {
  display: inline-block;
  margin-left: 15px;
}
.recentprojects-wrapper .post-meta ul a {
  color: #0078ff;
}
.recentprojects-wrapper .post-meta ul span {
  color: #1e1e1e;
}
.recentprojects-wrapper .blockquote {
  border-left: 4px solid #0078ff;
  padding: 18px;
  font-style: italic;
}

/*------/ Comments /------*/
.box-comments .list-comments li {
  padding-bottom: 40px;
}
.box-comments .list-comments .comment-avatar {
  display: table-cell;
  vertical-align: top;
}
.box-comments .list-comments .comment-avatar img {
  width: 80px;
  height: 80px;
}
.box-comments .list-comments .comment-author {
  font-size: 1.3rem;
}
@media (min-width: 768px) {
  .box-comments .list-comments .comment-author {
    font-size: 1.5rem;
  }
}
.box-comments .list-comments .comment-details {
  display: table-cell;
  vertical-align: top;
  padding-left: 25px;
}
.box-comments .list-comments a {
  color: #0078ff;
}
.box-comments .list-comments span {
  color: #1e1e1e;
  font-style: italic;
}
.box-comments .comment-children {
  margin-left: 40px;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  text-align: center;
  color: #fff;
  padding: 25px 0;
  background: #17202A;
}
footer .copyright {
  margin-bottom: 0.3rem;
}
footer .credits {
  margin-bottom: 0;
}
footer .credits a {
  color: #fff;
}
